@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	@variants responsive {
		/* Hide scrollbar for Chrome, Safari and Opera */
		.no-scrollbar::-webkit-scrollbar {
			display: none;
		}

		/* Hide scrollbar for IE, Edge and Firefox */
		.no-scrollbar {
			-ms-overflow-style: none; /* IE and Edge */
			scrollbar-width: none; /* Firefox */
		}
	}
}

section {
	@apply md:!py-[6.25rem] !py-8;
}

section,
nav {
	@apply px-5 xl:px-0;
}

h1 {
	@apply !text-heading3 md:!text-heading2 !leading-[120%];
}

h3 {
	@apply !text-heading4 md:!text-headingLg;
}

h4 {
	@apply md:!text-heading3 text-heading4;
}

h6 {
	@apply !text-heading6 md:!text-heading4 !leading-2;
}
