@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	@variants responsive {
		/* Hide scrollbar for Chrome, Safari and Opera */
		.no-scrollbar::-webkit-scrollbar {
			display: none;
		}

		/* Hide scrollbar for IE, Edge and Firefox */
		.no-scrollbar {
			-ms-overflow-style: none; /* IE and Edge */
			scrollbar-width: none; /* Firefox */
		}
	}
}

html {
	@apply scroll-smooth;
}

section {
	@apply md:!pb-[2.75rem] !pb-[3.5rem] !pt-[2rem] md:!pt-[5rem];
}

section,
nav {
	@apply px-5 xl:px-0;
}

h1 {
	@apply !text-heading3 md:!text-heading2 !leading-[120%];
}

h3 {
	@apply !text-heading4 md:!text-headingLg;
}

h4 {
	@apply md:!text-heading3 text-heading4;
}

h6 {
	@apply !text-heading6 md:!text-heading4 !leading-2;
}

.layer {
	background: linear-gradient(0deg, #FFF 45.2%, rgba(255, 255, 255, 0.00) 240.5%), url('/kyle.png'), lightgray -120px -14.583px / 166.667% 78.901% no-repeat;
	background-size: cover;
	background-position: center;
	@screen md {
		/* @apply bg-[url('/kyle.png')] bg-no-repeat bg-center sm:bg-right bg-cover sm:bg-contain; */
		background: url('/kyle.png') no-repeat right;
		background-size: contain;
	};
}
