.radix-themes {
	--default-font-family: var(--font-lato);
	--heading-font-family: var(--font-lig-consolata);
	color: #fff;
	--container-4: 1300px;
	--heading-font-size-adjust: 0.93;
	--heading-line-height-9: 52.8px;
	--font-weight-semibold: 600;
}
